<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
<link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <title>Tatv-About Us</title>
</head>
<body class="body-style">
    <header>
        <nav><div class="header-logo">
            <img class="logo-1" src="../images/tatva_final1.png" alt="Tatv">
            <span><img class="logo-2" src="../images/logo.png" alt="Banasthali Vidyapith"></span>
        </div></nav>
        
        <nav class="header-navigation">
            <ul class="nav-content">
                <li class="li-items" ><a href="/contact">CONTACT US</a></li>
                <li class="li-items" ><a href="/about">ABOUT US</a></li>
                <li class="li-items" ><a href="/">HOME</a></li>
            </ul>
        </nav>
    </header>
    <div class="body-text">
        <h1>About Us</h1>
        <p><strong>Banasthali Vidyapith </strong> a fully residential women's higher education institute which offers an integrated
            system </br>extending from the primary to the Ph.D. level.</br></br></p>
        <p><strong>Apaji Arogya Mandir</strong>  is an established name in patient care and is a well-known hospital of Jaipur, Rajasthan.
            Apaji Arogya Mandir have advanced healthcare facilities and is an upcoming names in the healthcare industry.
            They have team of good doctors including specialists who are equipped with the expertise for handling
            complex medical cases. Apaji Arogya Mandir is sought after hospitals in Jaipur, Rajasthan.</p>
    </div>
</body>
</html>