<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
    <title>Tatv-About Us</title>
</head>
<body class="body-style">
    <header>
        <nav><div class="header-logo">
            <img class="logo-1" src="../images/tatva_final1.png" alt="Tatv">
            <span><img class="logo-2" src="../images/logo.png" alt="Banasthali Vidyapith"></span>
        </div></nav>
        
        <nav class="header-navigation">
            <ul class="nav-content">
                <li class="li-items" ><a href="/contact">CONTACT US</a></li>
                <li class="li-items" ><a href="/about">ABOUT US</a></li>
                <li class="li-items" ><a href="/">HOME</a></li>
            </ul>
        </nav>
    </header>
    <div class="body-text">
        <h1>About Us</h1>
        <p>Banasthali Vidyapith is a fully residential women's higher education institute which offers an integrated system </br>extending from the primary to the Ph.D. level.</br>

            It was on October 6, 1935 that Smt. Ratan Shastri and Pandit Hiralal Shastri founded Banasthali to fill up </br>the vacuum caused by the sudden death of their highly talented and promising daughter Shantabai. They had high </br>expectations that she would work for women's cause when she would grow up. But  destiny  ordained  otherwise.</br>
            Thus, Banasthali  owes its existence neither to the zeal of an educationist, nor to that of a social reformer. It is </br>also not the creation of a Philanthropist's purse. It has arisen like the fabled phoenix from the ashes of a </br>blossoming flower Shantabai.</p>
    </div>
</body>
</html>