<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
    <title>Tatv-Contact Us</title>
</head>
<body class="body-style">
    <header>
        <nav><div class="header-logo">
            <img class="logo-1" src="/tatva_final1.png" alt="Tatv">
            <span><img class="logo-2" src="/logo.png" alt="Banasthali Vidyapith"></span>
        </div></nav>
       
        <nav class="header-navigation">
            <ul class="nav-content">
                <li class="li-items" ><a href="/contact">CONTACT US</a></li>
                <li class="li-items" ><a href="/about">ABOUT US</a></li>
                <li class="li-items" ><a href="/">HOME</a></li>
            </ul>
        </nav>
    </header>
    <div class="body-text">
        <h1>Contact Us</h1>
        
    </div>
</body>
</html>