
<!DOCTYPE html>
<html lang="en" height="100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tatv-Home Page</title>
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poiret+One&family=Praise&family=Shizuru&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Dancing+Script&family=Poiret+One&family=Praise&family=Shizuru&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Dancing+Script&family=Poiret+One&family=Praise&family=Sacramento&family=Shizuru&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Dancing+Script&family=El+Messiri&family=Poiret+One&family=Praise&family=Sacramento&family=Shizuru&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Dancing+Script&family=El+Messiri&family=Kufam&family=Poiret+One&family=Praise&family=Sacramento&family=Shizuru&display=swap" rel="stylesheet">
</head>
<body class="body-style">
    <header>
    <nav><div class="header-logo">
        <a href="/" ><img class="logo-1" src="../images/tatva_final1.png" alt="Tatv"></a>
        {{!-- <img class="logo-1" src="/logo.png"> --}}
        <span><a href="http://www.banasthali.org/" target="_blank"><img class="logo-2" src="../images/logo.png" alt="Banasthali Vidyapith"></a></span>
    </div></nav>

    <nav class="header-navigation">
        <ul class="nav-content">
            <li class="li-items" ><a href="/contact">CONTACT US</a></li>
            <li class="li-items" ><a href="about">ABOUT US</a></li>
            <li class="li-items" ><a href="/">HOME</a></li>
        </ul>
    </nav>
</header>
    <div class="body-text">

        <h1>Tatv</h1>
        <p> An online portal for <span> &nbsp Arogya Mandir(Banasthali's Internal Hospital)&nbsp&nbsp&nbsp&nbsp&nbsp</span></p>
        <a href="/register" class="register-button">Register</a><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <a href="/login" class="login-button">Login</a>

    </div>
   
   
</body>
</html>

