<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/register.css">
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <title>Tatv-Register</title>
</head>

<body>
    
        <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
                <img src="../images/tatv logo.png" class="back" alt="">
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form action="/auth/register" method="POST">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <select name="usertype" id="user" required>
                                    <option value="">--Select a User Type--</option>
                                    <option value="Administrator">Administrator</option>
                                    <option value="Student">Student</option>
                                    <option value="Hospital Administrator">Hospital Administrator</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" class="input" name="name"placeholder="Enter your name" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" class="input" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" class="input" name="password" placeholder="Enter your password" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" class="input" name="passwordConfirm" placeholder="Confirm password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Sign Up">
                            </div>
                            <div class="text sign-up-text">Already have an account? <a href="/login">Login now</a>
                            </div>
                    <div class="alert-container">
                        {{#if message }}
                            <h4 class="alert alert-danger mt-4" id="msg">{{message}}</h4>
                        {{/if}}
                    </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>