body{
    background-color: #FDFBF4;
    counter-reset: Serial;
}
body-style{
  /* top: 0px;
  left: 0px;
  width: 1920px;
  height: 2057px;
  background: #FDFBF4 0% 0% no-repeat padding-box;
  opacity: 1; */
  /* Layout Properties */
  
  top: 0px;
  left: 0px;
   width: 1920px; 
  height: 2057px;
/* UI Properties */
  background: #FDFBF4 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow-x: hidden;
}
h2{
    /* top: 305px;
left: 678px;
width: 256px;
height: 48px; */
/* UI Properties */
text-align: center;
font: normal normal normal 35px/50px Cardo;
letter-spacing: 0px;
color: #6C340F;
opacity: 1;
}
/* tr td:first-child:before{
	counter-increment: Serial;      
	content: counter(Serial); 
} */
#doctors {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #doctors td, #doctors th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #doctors tr:nth-child(even){background-color: #f2f2f2;}
  
  #doctors tr:hover {background-color: #ddd;}
  
  #doctors th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6C340F;
    color: white;
  }
  .container{  
    text-align: center;  
    padding-bottom: 10px; 
    }  
    /* .header{
      z-index: 100000;
  } */
  ::-webkit-scrollbar{
      display: none;
  }
  .header-logo{
      background-color: #fffcf5;
      /* max-width: 100%;
      max-height: 100%; */
      
  }
  
  .logo-1{
      position: relative;
      height: 5%;
      width: 8.7%;
      margin-top: 8px;
      /* margin-left: 10px;  */
      left: 220px;
      margin-top: 0.5%;
      margin-left: 1.2%;
      padding-top: 7px;
      padding-left: 5px;
      object-fit: cover; 
      /* animation: movedown 1.5s linear 1;
      animation-delay: 0.5s;
      visibility: hidden;
      animation-fill-mode: forwards; */
      /* top: 30px;
      left: 303px;
      width: 163px;
      height: 56px;
      background: transparent url('./images/tatva_final1.png') 0% 0% no-repeat padding-box;
      opacity: 1; */
  }
  
  .logo-2{
      float: right;
      position: relative;
      height: 0.3%;
      width: 5.2%;
      top: 0.5%;
      /* right: 1.9%;  */
      right: 270px;
      /* left:1000px */
      padding-top: 5px;
      padding-right: 5px;
      object-fit: cover; 
      /* animation: movedown 1.5s linear 1;
      animation-delay: 0.5s;
      visibility: hidden;
      animation-fill-mode: forwards; */
      /* Layout Properties 
      top: 27px;
      left: 1553px;
      width: 59px;
      height: 59px;
      /* UI Properties 
      background: transparent url('./images/logo.png') 0% 0% no-repeat padding-box;
      opacity: 1;*/
  }
  
  @keyframes movedown{
      0%{
          transform: translateY(-100px);
          visibility: visible;
      }
      100%{
          transform: translateY(0);
          visibility: visible;
      }
  }
  .header-navigation{
      /* background-color:white; */
      /* background-color: #6d350f; */
      margin-top: 20px;
      /* color: white; */
      width:100%;
      height: 30px; 
      /* top: 104px;
      left: 0px;
      width: 1920px;
      height: 99px;
      background: #6C340F 0% 0% no-repeat padding-box;
      opacity: 1; */
  }
  
   /* .navigation-buttons{
      color: white;
      box-align: right;
      
  }  */
  .nav-content{
      color: white;
      font-size: 98%;
      list-style-type: none;
      padding: 1.3%;
      padding-right: 20%;
      overflow:hidden;
      background-color: #6d350f;
      left: 0px;
     
   }
  
  .li-items{
      float: right;
      position: relative;
      margin: 0 0 0 45px;
      cursor: pointer;
      /* transition: transform 0.3s; */
      /* animation: movedown 1.5s linear 1;
      animation-delay: 1s;
      visibility: hidden;
      animation-fill-mode: forwards; */
  }
  .li-items::after{
      content: '';
      width: 0%;
      height: 2px;
      background: #FDFBF4;
      display:block;
      margin: auto;
      transition: 0.5s;
      /* transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55); */
  }
  .li-items:hover::after{
      /* transform: scale(1.05,1.05); */
      width: 100%;
      pointer-events: auto;
  }
  .li-items a{
      text-decoration: none;
      color: white;
  }
  .li-items a:active{
      color: #6d350f;
      background-color: #ECB390;
      
  }   
  .alert-container{
      background-color: #ECB390;
      color:rgb(226, 35, 35);
      box-sizing: border-box;
  } 
  .btn {
    background-color: #6C340F;
    border: none;
    color: white;
    padding: 4px 6px;
    font-size: 16px;
    cursor: pointer;
  }
  /* @media screen and (min-width: 768px) {
    body {
                margin: calc(var(--header-height) + 1rem) 0 0 0;
                padding-left: calc(var(--nav-width) + 2rem)
    }
    } */